/* element主题色变量 */
$--color-primary: #32aecc;
$--color-success: #67c23a;
$--color-warning: #F8AE07;
$--color-danger: #f56c6c;
$--color-info: #32aecc;

/* 页面主题色变量 */
$--color-login: #077089;
$--color-header: #33AECC;
$--color-title: #fff;
$--color-nav-active: #ffeb3b;
$--color-aside: #f2f2f2;
