/* element主题色变量 */
$--color-primary: #10bd75;
$--color-success: #67c23a;
$--color-warning: #f0c200;
$--color-danger: #f56c6c;
$--color-info: #a1c23a;

/* 页面主题色变量 */
$--color-login: #076d43;
$--color-header: #0ba565;
$--color-title: #fff;
$--color-nav-active: #f3d141;
$--color-aside: #f2f2f2;
